<section id="home">

    <section class="jumbotron">
        <div class="container">
            <h1 class="jumbotron-heading">ActiveCampaign Contacts Exercise</h1>
            <p class="lead">An exercise for ActiveCampaign hiring process</p>
        </div>
    </section>

    <div class="container">
       <p>Welcome to Nathan Lehman's attempt at the ActiveCampaign Contacts Exercise</p>

       <form class="form">
          <div class="form-group">
             <label for="apiToken">API Key</label>
             <input type="text" class="form-control" ng-model="home.rootScope.apiToken">
          </div>
         </form>

    </div>

</section>