<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Active Campaign Contacts Exercise</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <base href="/">
</head>
<body ng-app="app" ng-controller="AppController as app" ng-strict-di>

<header class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
    <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Active Campaign">
        ActiveCampaign
    </a>
    <button type="button" class="navbar-toggler" ng-click="app.isCollapsed = !app.isCollapsed" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" uib-collapse="app.isCollapsed">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" ui-sref="home" ui-sref-active="active">Home</a>
            <a class="nav-item nav-link" ui-sref="contacts" ui-sref-active="active">Contacts</a>
        </div>
    </div>
</header>

<div class="alert alert-danger" role="alert" ng-show="app.rootScope.dangerAlert">
   {{ app.rootScope.dangerAlert }}
   <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="app.rootScope.dangerAlert = null">
      <span aria-hidden="true">&times;</span>
   </button>
</div>

<main class="main" role="main">
    <ui-view></ui-view>
</main>

</body>
</html>